:root {
  /* colors */
  --brand-color-iris: #4d5ae5;
  --brand-color-ocean: #404bbf;
  --brand-color-green: #31d0aa;
  --brand-color-slate: #434455;
  --brand-color-light-slate: #8e8f99;
  --brand-color-cornflower: #e7e9fc;
  --brand-color-cloud: #f4f4fd;
  --brand-color-navy: #2e2f42;
  --brand-color-white: #ffffff;
  --brand-color-dairy: #fcfcfc;
  /* fonnts */
  --primary-font-roboto: "Roboto", sans-serif;
  --secondary-font-raleway: "Raleway", sans-serif;
}
/**
  |============================
  | DEFAULT
  |============================
*/

* {
  box-sizing: border-box;
}

.list {
  text-decoration: none;
  list-style: none;
}
.link {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  color: currentColor;
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/* reset end */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | BODY
  |============================
*/
.body {
  margin: 0;
  font-family: var(--primary-font-roboto);
  color: var(--brand-color-slate);
  background-color: var(--brand-color-white);
}

.container {
  width: 1158px;
  text-align: center;
}
/**
  |============================
  | HEADER
  |============================
*/

/* .header {
  align-items: center;
} */
.header-box {
  width: 1440px;
  margin-left: 0px;
  margin-top: 0px;
  display: flex;
  align-items: center;
}
/* NAV */
.nav {
  display: flex;
  align-items: center;
  background-color: var(--brand-color-white);
  margin-right: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
}
.logo-w {
  color: var(--brand-color-iris);
  font-family: var(--secondary-font-raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* align-items: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 156px;
  margin-right: 76px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-logo-navy {
  color: var(--brand-color-navy);
}
.nav-header {
  display: block;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--brand-color-navy);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-header:hover,
.nav-header:focus {
  color: var(--brand-color-ocean);
}

/* ADDRESS */

.address {
  font-style: normal;
}

.address-link {
  display: flex;
  align-items: center;
  margin-right: 116px;
}
.address-header {
  color: var(--brand-color-slate);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.address-header:hover,
.address-header:focus {
  color: var(--brand-color-ocean);
}
/**
  |============================
  | MAIN INDEX.HTML
  |============================
*/

/* HERO */

.main {
}
.hero-box {
  padding-top: 188px;
  position: absolute;
  width: 1440px;
  height: 600px;
}
.container {
}

.hero {
  background-color: var(--brand-color-navy);
  width: 1440px;
  height: 600px;
  margin-left: 0px;
  margin-top: 0px;
}
.hero-text {
  color: var(--brand-color-white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  width: 496px;
  margin-left: 472px;
}
.btn-hero {
  color: var(--brand-color-white);
  background-color: var(--brand-color-iris);
  font-family: var(--primary-font-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  margin-top: 48px;
  margin-right: auto;
  min-width: 169px;
  min-height: 56px;
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--brand-color-ocean);
  cursor: pointer;
}

/* FUTURES */

/* .futures {} */
.futures-item {
  width: 264px;
  text-align: left;
  display: inline-block;
  display: flexbox;
  margin-left: 24px;
  gap: 24px;
}
.futures-box {
  position: absolute;
  /* width: 1128px; */
  margin-top: 120px;
  /* margin-left: 156px; */
}

.futures-title {
  color: var(--brand-color-navy);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.futures-text {
  color: var(--brand-color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title-section {
  color: var(--brand-color-navy);
  background-color: var(--brand-color-white);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* OUR WORKS */

.works-box {
  width: 1128px;
  margin-top: 324px;
}
/* .works-img {} */
/* .works {} */
/* .title-section {} */

/* OUR TEAMS */
/* .our-teams {} */

.team-box {
}
.teams {
  background-color: var(--brand-color-cloud);
}
.teams-item-img {
  background-color: var(--brand-color-white);
}

/* .card-teams  */

.title-card {
  color: var(--brand-color-navy);
  background-color: var(--brand-color-white);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.text-card {
  color: var(--brand-color-slate);
  background-color: var(--brand-color-white);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

/**
  |============================
  | FOOTER
  |============================
*/
.footer-box {
  padding-top: 100px;
}
.footer {
  background-color: var(--brand-color-navy);
  position: absolute;
  width: 1440px;
  height: 312px;
  text-align: left;
}
.footer-logo-navy {
  color: var(--brand-color-cloud);
}
.footer-text {
  width: 262px;
  color: var(--brand-color-cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 156px;
  margin-top: 16px;
}

/**
  |============================
  | MAIM PROTFOLIO
  |============================
*/

/* BUTTONS AREA */

.btn-list {
  /* background-color: var(--brand-color-cloud); */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}
.btn-filter {
  font-family: var(--primary-font-roboto);
  color: var(--brand-color-iris);
  background-color: var(--brand-color-cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--brand-color-white);
  background-color: var(--brand-color-ocean);
  /* cursor: pointer; */
}

/* PORTFOLOI WORKS */

/* .img-portfolio {} */

.title-card-portfolio {
  color: var(--brand-color-navy);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-card-portfolio {
  color: var(--brand-color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
